/* Getting font information */
@font-face {
  font-family: 'Saira';
  src: url('./saira.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  height: 100%;
}

/* All buttons */
button {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

button:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

/* Fade in effect */
#fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

/* Fade out effect */
#fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  min-height: 100%;
  background-image: url(./oceanbackground.jpg);
  background-size: cover;
}

/* Title */
.title {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;

  gap: 20px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.6);
}

.title h1 {
  font-size: 40px;
  font-family: 'Saira', sans-serif;
}

.title a {
  color: black;
}

.title a:link {
  text-decoration: none;
}

.title a:hover {
  color: blue;
}

.title a:visited {
  text-decoration: none;
}

/* Boards div */
.boards {
  font-size: 20px;
  padding: 10px;
  height: auto;
  width: auto;

  border: 1px black solid;
  border-radius: 5px;
  
  background-color: rgba(222,243,246, 0.8);
}

/* Player and AI Board div */
.board {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
}

.square {
  border: 1px solid black;
  padding: .8em;
}

.gameBoards {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

#player, #computer {
  background-color: rgba(222,243,246, 0.8);
}

/* Buttons on placement screen */
#direction {
  width: 100px;
}

/* Status bar */
#status {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.6);

  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#status p {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;

  text-align: center;
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40,end),
    blink-caret .75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from {width: 0}
  to {width: 100%;}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% { border-color: black;}
}

/* Footer */
.footer {
  background-color:  black;
  color: white;
  position: absolute;
  bottom: 0;

  height: 30px;
  width: 100%;
  padding: 5px;

  text-align: center;
}