/* Getting font information */
@font-face {
  font-family: 'Saira';
  src: url('./saira.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  height: 100%;
}

/* All buttons */
button {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

button:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  min-height: 100%;
  background-image: url(./oceanbackground.jpg);
  background-size: cover;
}

/* Title */
.title {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;

  gap: 20px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.6);
}

.title h1 {
  font-size: 40px;
  font-family: 'Saira', sans-serif;
}

.title a {
  color: black;
}

.title a:link {
  text-decoration: none;
}

.title a:hover {
  color: blue;
}

.title a:visited {
  text-decoration: none;
}

/* Boards div */
.boards {
  display: grid;

  font-size: 20px;
  padding: 10px;
  height: auto;
  width: auto;

  border: 1px black solid;
  border-radius: 5px;
  
  background-color: rgba(222,243,246, 0.8);
}

/* Player and AI Board div */
.board {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
}

.square {
  border: 1px solid black;
  padding: 1em;
}

/* Buttons on placement screen */
#direction {
  width: 100px;
}

/* Footer */
.footer {
  background-color:  black;
  color: white;
  position: absolute;
  bottom: 0;

  height: 30px;
  width: 100%;
  padding: 5px;

  text-align: center;
}